*
!.*
!powerlevel10k/
!.config/zsh/
!.oh_my_zsh/
.DS_Store
.LFCache
.Trash/
.android/
.bash_sessions/
.cache/
.cisco/
.conan/
.cups/
.docker/
.fig/
.fig.dotfiles.bak/
.idlerc/
.ipython/
.lesshst
.local/
.lunarclient/
.matplotlib/
.mongodb/
.npm/
.nvm/
.ssh/
.stack/
start_app_logs/
.tldrc/
.vscode/
.vscode-R/
.zsh_sessions/
.zsh_history
.viminfo
".zcompdump-Felix\342\200\231s 14\" MacBook Pro-5.8.1"
